<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="All Test Suite">

    <test name="TEST1">

        <groups>

            <run>
                <include name="SmokeTest"/>
            </run>
        </groups>
        <classes>
            <class name="Gun04._03_Groups"/>

        </classes>
    </test>
</suite>